.fa-beat {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}
.dark
{
  color: #2D2D2D !important;
}
.white
{
  color: #fff !important;
}
.red
{
	color: #ff0000 !important;
}
.gold
{
	color: #FDD835 !important;
}
.dark-gold
{
	color: #7f3600 !important;
}
.metalic
{
	color: #005b64 !important;
}
.gem
{
  color: #1CB0F6 !important;
}
.green
{
  color: #35BB55 !important;
}
.bg-blue
{
  background: #2196F3 !important;
}
.txt-shadow
{
	text-shadow: 1px 0px 5px rgba(0,0,0,0.7) !important;
}

.bg-passive
{
  background: #ccc !important;
}

.bg-1,.bg-false
{
	background: #EF5350 !important;
}

.bg-2,.bg-true
{
	background: #81C784 !important;
}

.bg-3
{
	background: #AED581 !important;
}

.bg-4
{
	background: #F57F17 !important;
}

.bg-5
{
	background: #6D4C41 !important;
}
.progress-0
{
  background: linear-gradient(to top, #edf9fe 100%, #E53935 0%);
  
}
.progress-10
{
  background: linear-gradient(to top, #edf9fe 90%, #E53935 10%);
  /*transform: rotate(300deg);*/
}

.progress-20
{
  background: linear-gradient(to top, #edf9fe 80%, #E53935 20%);
  /*transform: rotate(320deg);*/
}

.progress-25
{
  background: linear-gradient(to top, #edf9fe 75%, #E53935 25%);
  /*transform: rotate(330deg);*/
}

.progress-30
{
  background: linear-gradient(to top, #edf9fe 70%, #E53935 30%);
  /*transform: rotate(330deg);*/
}

.progress-40
{
  background: linear-gradient(to top, #edf9fe 60%, #E53935 40%);
  /*transform: rotate(340deg);*/
}

.progress-50
{
  background: linear-gradient(to top, #edf9fe 50%, #E53935 50%);
  /*transform: rotate(360deg);*/
}

.progress-60
{
  background: linear-gradient(to bottom, #E53935 60%, #edf9fe 40%);
  
}

.progress-70
{
  background: linear-gradient(to bottom, #E53935 70%, #edf9fe 30%);
  /*transform: rotate(210deg);*/
}

.progress-75
{
  background: linear-gradient(to bottom, #E53935 75%, #edf9fe 25%);
  /*transform: rotate(210deg);*/
}

.progress-80
{
  background: linear-gradient(to bottom, #E53935 80%, #edf9fe 20%);
  /*transform: rotate(220deg);*/
}
.progress-90
{
  background: linear-gradient(to bottom, #E53935 90%, #edf9fe 10%);
  /*transform: rotate(240deg);*/
}
.progress-100
{
  background: linear-gradient(to top, #E53935 100%, #edf9fe 0%);
  /*transform: rotate(240deg);*/
}
.m-0
{
  margin: 0 !important;
}

.selected,.btn-pr
{
  color: #1CB0F6 !important;
    border: 1.87px solid #1CB0F6 !important;
    border-bottom: 4px solid #1CB0F6 !important;
}
.btn-success
{
    color: #fff !important;
    border: 1.87px solid #2E7C40 !important;
    border-bottom: 4px solid #2E7C40 !important;
    background: #35BB55 !important;
}
