@font-face {
  font-family: kanit-r;
  src: url(fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: ubuntu-r;
  src: url(fonts/ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: fredoka;
  src: url(fonts/acme/acme.ttf);
}

html
{
  overflow: auto;
}

body
{
  
  width: 100%;

  background: #edf9fe !important;
  font-family: kanit-r !important;
  overflow: auto;
}

h2,h4,h6{
   font-family: kanit-r !important;
}

.main-page
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #37474F;
}

.main-logo
{
  position: absolute;
  top: 150px;
  
  width: 100%;
  
}
.main-logo img
{
  position: relative;
  display: table;
  margin: auto;
  width: 120px;
  height: auto;
  object-fit: cover;
}
.main-name
{
  position: relative; 
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.main-name h4
{
  display: block;
  padding: 10px;
  color: #fff;
  padding-bottom: 0;
  font-size: 16px;
}

.main-name span
{
  display: block;
  padding: 10px;
  color: #B0BEC5;
  padding-top: 0;
  font-size: 12px;
}
.loading
{
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}
.loading img
{
  height: 100px;
  width: auto;
  object-fit: cover;
}

#loader {
  position: relative; 
  display: table;
  margin: auto;
  z-index: 1;
  
  border: 1px solid #90A4AE;
  border-radius: 50%;
  border-top: 1px solid #546E7A;
  border-right: 1px solid #546E7A;

  width: 33px;
  height: 33px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-header,.footer
{
  position: fixed; 
  left: 0;
  width: 100%;
  height: 50px;
  background: #edf9fe;  
  z-index: 3;
}
.main-header
{
  top: 0;
  border-bottom: 2px solid #B0BEC5;
}
.footer
{
  bottom: 0;
  height: 60px;
  border-top: 2px solid #B0BEC5;
}
.header-name
{
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 12px 0;
  text-align: center;
  font-size: 16px;
  color: #4c4c4c;
  z-index: -1;
}
.main-header ul,.footer ul
{
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  padding: 0;
}
.main-header ul li,.footer ul li
{
  display: inline-block;
  float: left;
  min-width: 50px;
  height: 50px;
  font-size: 14px;
  color: #546E7A;
  padding: 8px 5px;
  margin: 0 10px;  
  margin-right: 11px;
  z-index: 3;
}
.main-header ul li a
{
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  z-index: 4;
  color: #546E7A;
  text-decoration: none;
}
.main-header ul li:first-child
{  
  min-width: 20px;
}
.footer ul li.active
{
  color: #1976D2;
}
.footer ul li:last-child
{  
  min-width: 20px;
  margin-right: 0;
}
.main-header ul li i
{
  display: inline-block;
  float: left;
  padding: 5px;
  font-size: 20px;
}
.footer i
{
  display: inline-block;
  float: left;
  padding: 7px 10px;
  font-size: 25px !important;
}
.main-header ul li img,.footer ul li img
{
  display: inline-block;
  float: left;
  padding-top: 5px;
  width: auto;
  height: 27px;
  object-fit: cover;
}
.main-header ul li label ,.footer ul li label
{
  display: inline-block;
  float: left;
  padding: 7px;
}
.bar
{
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  min-height: 100px;
  display: none;
  padding: 0;
  margin: 0;
  background: #fff;
}
#crown,#target,#heart
{
  margin: 0;
  padding: 0;
  display: none;
}

.bar-icon
{
  position: relative;
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 5px;
  text-align: center;
}
.bar-icon i,.bar-icon img
{
  display: table;

  font-size: 64px;
  width: 90px;
  height: 90px;
  padding: 8px 0;

}


.bar-icon label
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 14px;
}


.bar-info,.bar-special-info
{
    position: relative;
    display: inline-block;
    float: left;
    width: calc(100% - 100px);
    min-height: 100px;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.bar-special-info
{
  width: 100%;
  padding-bottom: 15px !important;
}

.info-head
{
  display: block;
  float: left;
  width: 100%;
  height: 40px;
  text-align: left;
  color: #000;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 750;
}

.info-body,.special-body
{
  display: block;
  float: left;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #a3a3a3;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 800;

}
.info-body img
{
  display: table;
  margin: auto;
  width: 60px;
  height: auto;
  object-fit: cover;
}
.bar-special-info .info-head,.bar-special-info .info-body
{
  text-align: center;
}
.special-body
{
  position: relative;
  min-height: 100px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 8px;
  
}
.special-body ul
{
  display: block;
  float: left;
  width: 100%;
  height: 160px;
}
.special-body ul li
{
  position: relative;
  display: inline-block;
  float: left;
  width: calc(100%/3 - 10px);
  height: 140px;
  border-radius: 12px;
  border: 2px solid #e0e0e0;
  margin: 3px;
}
.special-items-icon,.special-items-info
{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}
.special-items-icon i
{
  display: table !important;
  float: none !important;
  margin: auto;
  font-size: 42px !important;
  margin-top: 7px;
}
.special-items-info h4
{
  line-height: 20px;
  font-size: 16px;
  color: #000;
}
.add-heart i
{
  color: #ff7f7f !important;
  text-shadow: 3px 0 4px #FF0000, -3px 0 4px #FF0000,0 3px 4px #FF0000,0 -3px 4px #FF0000;
}
.add-heart h4
{
  color: #9a9a9a;
}
.special-items-info span,.special-items-info i
{
 
  float: none !important;
  line-height: 15px;
  font-size: 12px !important;
  color: #9a9a9a !important;

}
.special-items-info i
{
  text-shadow: 0 0 #000;
}
.sp-active
{
  border-radius: 0 0 12px 12px !important;
  border: 2px solid #9ba3a7 !important;
}
.sp-active i
{
  color: #37474F !important;
  text-shadow: 3px 0 4px #FF0000, -3px 0 4px #FF0000,0 3px 4px #FF0000,0 -3px 4px #FF0000;
}


.special-item
{
  position: absolute;
  top: -30px;
  left: -2px;
  width: calc(100% + 4px);
  height: 30px;
  border-radius: 12px 12px 0 0;
  background: #37474F;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 12px;
}

.progress-bar
{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 12px;
  border-radius: 12px;
  background: #ccc;
  overflow: hidden;
  margin: 7px 0;
}
.progress-bar-active
{
  position:   absolute;
  width:      0;
  height:     12px;
  top:        0;
  left:       0;
  background: #7CB342;

}

.bar-btn
{
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.bar-btn span
{
  display: table;
  margin: auto;
  padding: 5px 50px;
} 

.navbar
{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  float: left;
  width: 240px;
  height: 100vh;
  background: #fff;
  z-index: 3;
}
.navbar a
{
  text-decoration: none;
  color: #000;
}
.nav-header
{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #edf9fe;
}
.nav-point
{
   height: 50px;
  
}
.nav-point i
{
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: #D50000;
  padding: 5px;
  padding-left: 0;
}
.nav-point label
{
   font-size: 16px;
   color: #37474F;
}
.header-photo
{
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #90A4AE;
  padding: 5px;
}

.header-photo img
{
  width: 50px;
  height: auto;
  max-height: 50px;
  object-fit: cover;
}
.header-info
{
  display: inline-block;
  float: left;
  width: calc(100% - 60px);
  height: 60px;
  padding: 5px;

}
.header-info h4,.header-info span
{
  display: block;
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  text-align: left;
}

.header-info span
{
  font-size: 10px;
}
.navbar ul
{
  display: block;
  float: left;
  width: 100%;
  padding: 10px;
}
.navbar ul li
{
  display: inline-block;
  float: left;
  width: 100%;
  height: 25px;
  margin: 10px 0;
  padding: 3px 0;
  font-size: 14px;
}
.navbar ul li i
{
  padding-right: 10px;
  color: #FF6E40;
}
.darkness
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 2;
}


/*profile*/

.profile-header
{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-top: 50px;
  border-bottom: 1px solid #B0BEC5;

}
.profile-photo
{
  position: relative;
  display: table;
  margin: auto;
  margin-top: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 14px;
  background: linear-gradient(to bottom, #4fc3f7 0%, #29B6F6 100%);
  
}

.profile-photo img
{
  width: 50px;
  max-height: 50px;
  object-fit: cover;
}
.clip
{
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: #1c7fac;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.clip i
{
  padding-top: 7px;
  font-size: 14px;
  color: #fff;

}
.profile-info
{
  position: relative;
  margin-bottom: 15px;

  display: block;
  width: 100%;
  float: left;
  padding: 10px 20px;
  
}
.profile-info h4
{
  text-align: center;
  font-size: 14px;

}

#profile-info
{
  margin-bottom: 100px;
}
.profile-info ul
{
  display: block;
  float: left;
  padding: 10px;
  width: 100%;
}
.profile-info ul li
{
  display: inline-block;
  float: left;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 10px 0;
}
.archive
{
  display: block;
  float: left;
  width: 100%;
  height: 140px;
}
.archive-img
{
  position: relative;
  display: inline-block;
  float: left;
  width: 110px;
  height: 130px;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 6px 7px 5px -5px rgba(0,0,0,0.5);
}
.archive-img img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 82px;
  height: auto;
  object-fit: cover;
}
.archive-data
{
  display: inline-block;
  float: left;
  width: calc(100% - 110px);
  height: 140px;
  padding: 5px;
}

.border-none
{
  border: none !important;
}
.text-left
{
  text-align: left !important;
}

.form-button
{
  display: block;
  float: left;
  width: 100%;
  min-height: 40px;
  font-size: 16px;
  border-radius: 12px;
  background: #fff;
  border: 1.8px solid #cecece;
  border-bottom: 4px solid #cecece;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin: 5px 0;
  text-align: center;
  padding: 5px 10px;
}

.form-button:focus, .form-button:active:focus
{
  border: 1.3px solid #cecece;
  border-bottom: 3px solid #cecece;
  outline-offset: 0;
  outline: none;
}

.simple-btn
{
  display: inline-block;
  width: auto;
  padding: 10px;
}

/*score table*/

.score-table,.shopping,.lessons,.lesson,.lesson-success,.adsense,.day-aim,.select-level,.get-start,.account,.registration
{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px;
}
.score-table ul
{
  display: block;
  float: left;
  width: 100%;
  height: calc(100vh - 50px);
  
  overflow: auto;
  padding: 50px 0;
  padding-top: 10px; 
  border-bottom: 1px solid #B0BEC5;
}
.score-table ul li
{
  display: inline-block;
  float: left;
  width: 42px;
  height: 48px;
  background: #D2E0EB;
  border-radius: 10px 10px 40% 40%;
  border-bottom: 3px solid #AAC1D4;
  text-align: center;
  margin: 10px;
}

.score-table ul li i
{
  display: table;
  margin: auto;
  margin-top: 4px;
  width: 34px;
  height: 38px;
  font-size: 22px;
  color: #92A8BA;
  background: #C2D1DD;
  border-radius: 8px 8px 40% 40%;
  padding-top: 10px; 
}
.checked
{
  /*margin-top: 5px !important;
  margin-bottom: 5px !important;*/
  width: 54px !important;
  min-height: 66px !important;
  background: #E8BA8F !important;
  border-bottom: 5px solid #C88E57 !important;
}
.checked i
{
  margin-top: 6px !important;
  width: 44px !important;
  height: 50px !important;
  font-size: 26px !important;
  color: #B07032 !important;
  background: #CF9C6D !important;
}
.checked h4
{
  min-height: 30px;
  font-size: 14px;
  padding: 5px 0;
}
.text-center
{
  text-align: center !important;
}
.line-h-1
{
  line-height: 16px !important;
}
.line-h-2
{
  line-height: 24px !important;
}
.line-h-3
{
  line-height: 30px !important;
}
.weight-normal
{
  font-weight: 400 !important;
}
.weight-bold
{
  font-weight: 700 !important;
}

.mt-10
{
  margin-top: 10px !important;
}

.mt-20
{
  margin-top: 20px !important;
}

.mt-50
{
  margin-top: 50px !important;
}

.mt-60
{
  margin-top: 60px !important;
}

.mt-70
{
  margin-top: 70px !important;
}

.mt-100
{
  margin-top: 100px !important;
}

.mb-10
{
  margin-bottom: 10px !important;
}

.mb-20
{
  margin-bottom: 20px !important;
}

.mb-50
{
  margin-bottom: 50px !important;
}

.mb-100
{
  margin-bottom: 100px !important;
}

.border-none
{
  border: none !important;
}
.shopping
{
  margin-top: 50px;
  margin-bottom: 50px;
}
.card,.card-special
{
  display: block;
  float: left;
  width: 100%;
  height: 150px;
  border-radius: 12px;
  border: 1px solid #cecece;
  padding: 8px 20px;
  margin: 12px 0;
}
.card-special
{
  height: 170px;
  background: #1CB0F6;
}
.card-special header
{
  display: block;
  float: left;
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
.card-special header h2
{
  display: inline-block;
  float: left;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  margin: 8px;
  margin-right: 10px;
  margin-left: 0;
  padding: 8px 0;
  text-align: left;

}
.card-special header span
{
  display: inline-block;
  float: left;
  height: 30px;
  border-radius: 5px;
  background: #0055FF;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 3px 14px;
  margin-top: 14px;
  font-weight: 800;
}
.card-special .info-body
{
  padding-left: 0; 
}
.card-special .info-body span
{
  color: #fff;
  text-align: left;
  font-weight: 300;
  letter-spacing: 1px;
}
.card-special a
{
  text-decoration: none;
}

.card-img
{
  display: inline-block;
  float: left;
  width: 100px;
  padding: 12px 10px;
}
.card-img img
{
  display: table;
  margin: auto;
  width: 80px;
  height: auto;
  object-fit: cover;

}
.card-info
{
  display: inline-block;
  float: left;
  width: calc(100% - 100px);
  height: auto;
}
.card-info header
{
  padding: 10px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.lessons
{
  
  margin-top: 100px;
  margin-bottom: 50px;
}

.castles
{
  position: relative;
  display: block;
  float: left;
  float: left;
  width: 100%;
  border-radius: 7px;
  margin-bottom: 7px;
  background: #B0BEC5;
  z-index: 1;
  padding-bottom: 40px;
}
.level
{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #B0BEC5; /**/
  top: -50px;
  left: calc(50% - 50px);
  padding: 10px 5px;
  border: 6px solid #edf9fe;
  overflow: hidden;

}
.level img
{
  display: table;
  margin: auto;
  height: 65px;
  width: auto;
  object-fit: cover;
}
.level label
{
  position: absolute;
  width: 100%;

  bottom: 20px;
  left: 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  /*background: rgba(0,0,0,0.5);*/
  padding-bottom: 5px;
}
.castles ul
{
  display: block;
  float: left;
  width: 100%;
  padding: 15px;
  margin-top: 50px;

}
.castles ul li
{
  position: relative;
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #d7d8dd;
  margin: 50px calc(25% - 35px);

  
}
.castle-border
{
  position: absolute;
  left: -5px;
  top: -5px;
  width: 70px;
  height: 70px;
  background: #edf9fe;
  border-radius: 100%;
  z-index: -1;
  
}
.castles ul li:first-child,.castles ul li.twice:last-child
{
  display: table;
  float: none;
  margin: auto;
}
.castles ul li.twice:last-child
{
  margin-bottom: 30px;
}

.query-into
{
  position: absolute;
  top: 4px;
  left: 4px;
  width: 52px;
  height: 52px;
  padding: 16px 12px;
  border-radius: 50%;
  background: #1976D2;
}

.query-into i
{  
  font-size: 20px;
  color: #edf9fe;  
}
.query-info
{
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%;
}
.query-info h4
{
  display: inline;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  /*font-family: ubuntu-r;*/
}

.query-crown
{
  position: absolute;
  right: -5px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  padding: 4px;
}
.query-crown i
{
  font-size: 20px;
  color: #ccc;
}
.query-crown span
{
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 10px;
  color: #000;
  text-align: center;
}
.lesson-info-x
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: none;
}
.lesson-info
{
  position: absolute;
  top: 0;
  left: calc(50% - 140px);
  
  width: 280px;
  height: 140px;
  border-radius: 13px;
  padding: 10px;
  z-index: 30
  
  
}
.lesson-info.arrow-top {
  margin-top: 50px;
}

.arrow-top {
  content: " ";
  position: absolute;
  top: -15px;
  width: 15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #2196F3;
}

.info-left
{
  display: inline-block;
  float: left;
  width: auto;
  min-height: 50px;
  text-align: left;
}

.info-left h6
{
  font-size: 16px;
  font-weight: 700;
  /*font-family: ubuntu-r;*/
  color: #F8FAFB !important;
}

.info-right
{
  display: inline-block;
  float: right;
  width: auto;
  min-width: 50px;
  min-height: 50px;
  margin-bottom: 20px;
}
.info-right .form-button
{
  margin: 0;
  border: 1.8px solid #1A619B;
  border-bottom: 4px solid #1A619B;
  color: #F8FAFB;
}

.info-right button:focus, .info-right button:active:focus
{
  border: 1.3px solid #1A619B;
  border-bottom: 3px solid #1A619B;
  outline-offset: 0;
  outline: none;
}

.lock-lesson
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background: #fff;
  z-index: 4;
  display: none;

}
.lock-lesson .special-body
{
  padding: 0 10px;
  margin-bottom: 30px;
 
}
.lock-lesson .special-body ul
{
  float: left;
  padding: 0;
  margin: 0;
}
.lock-lesson .special-body ul li
{
  width: calc(100%/2 - 10px);
  height: 180px;
  border-radius: 12px;
  border: 2px solid #e0e0e0;
  margin: 5px;
}

.lock-lesson .special-items-icon,.lock-lesson .special-items-info
{
  padding: 0 5px;
  padding-top: 12px;

}
.lock-lesson .info-body
{
  text-align: center;
  padding: 0;
  padding-bottom: 15px;
}



/*lessons*/
.loading-lesson
{
  position: relative;
  display: table;
  margin: auto;
  margin-top: 250px;
  width: 150px;
  height: 150px;

}
.loading-lesson img
{
  height: 150px;
  width: auto;
  object-fit: cover;
}

.lesson-header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.head-side
{
  position: relative;
  display: inline-block;
  float: left;
  width: 50px;
  height: 30px;
  padding: 5px 0;
}
.head-side span
{
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
.side-icon
{
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}
.side-icon i
{

  font-size: 20px;
  margin-right: 5px;
}
.head-average
{
  position: relative;
  display: inline-block;
  float: left;
  width: calc(100% - 110px);
  height: 30px;
  padding: 3px 0;
  margin-right: 10px;
}
.lesson
{
  height: calc(100vh - 50px);
  margin-top: 50px;
}
.lesson-1,.success-body,.success-gem
{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0;
}
.learning-card
{
  position: absolute;
  width: calc(100% - 40px);
  min-height: 220px;
  height: auto;

  top: 50%;
  left: 20px;
  transform: translate(0,-50%);
  border-radius: 12px;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.5);
  border: 1px solid #ccc;
}
.card-top
{
  width: 100%;
  min-height: 150px;
  height: auto;
  display: block;
  float: left;
}
.card-left,.card-right
{
  display: inline-block;
  width: calc(100% - 100px);
  min-height: 150px;
  height: auto;
  padding: 0;
  float: left;
  margin: 0;
}
.questions .card-left,.questions .card-right
{
  min-height: 20px;
}

.card-left
{
  padding: 10px 10px 10px 30px;
}
.card-right
{
  position: relative;
  width: 100px;
}
.card-top .card-right i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;

}
.card-btn
{
  width: 100%;
  height: 70px;
  display: block;
  float: left;
}


.card-btn .card-left,.card-btn .card-right
{
  display: inline-block;
  width: 150px;  
  padding: 15px 10px;
  float: left;
  margin: 0;

}
.card-btn .card-right 
{
  float: right;
}

.orgn,.trns,.trnsk
{
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 22px;
  text-align: left;
  font-weight: 800;
}
.trns,.trnsk
{
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.success-gem
{
  display: none;
}

.questions
{
  display: block;
  float: left;
  width: 100%;
  min-height: 40px;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px dotted #1CB0F6;
  /*background: #fff;*/
  color: #1CB0F6;
  text-align: left;
  line-height: 16px;
  font-size: 14px;
  margin: 10px 0;
  /*border-bottom: 1px solid #cecece*/

}
.questions span
{
  display: inline-block;
  width: auto;
  min-height: 20px;
  float: left;
  margin: 0 10px;
  margin-top: 10px;
}

.answer
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;


}
.answer span
{
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  /*font-family: ubuntu-r;*/
  font-size: 14px;
  text-align: left;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.happy,.training
{
  display: block;
  float: left;
  width: 100%;
  min-height: 120px;
  margin-top: 100px; 
}
.happy img
{
  display: table;
  margin: auto;
  width: 150px;
  height: auto;
  object-fit: cover;
}
.happy h3,.happy h4,.happy h5
{
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.happy span
{
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  color: #A5A5A5;
}
.training img
{
  display: table;
  margin: auto;
  height: 130px;
  width: auto;
  object-fit: cover;
}
.success-left,.success-right
{
  display: inline-block;
  width: calc(100% - 80px);
  float: left;
  height: 50px;
  padding: 10px;
}
.success-right
{
  padding: 0;
  width: 60px;
}
.success-right img
{
  height: 50px;
  width: auto;
  object-fit: cover;
}

.no-thanks
{
  display: block;
  float: left;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;

}
.ads
{
  display: block;
  float: left;
  width: 100%;
  height: 250px;
  background: grey;
}
.hr
{
  display: block;
  float: left;
  width: 100%;
  height: 1px;
  background: #000;
  margin: 20px 0;
}

.lesson-main,.lesson-success,.adsense,.day-aim,.answer,.select-level,.account,.registration,.lesson-learn
{
  display: none;
}

.day-aim,.select-level,.get-start,.account,.registration
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #edf9fe;
  z-index: 4;
}
.aim,.select-level-items
{
  display: block;
  margin-top: 50px;
  float: left;
  width: 100%;
  height: auto;

}
.aim ul,.select-level-items ul
{
  display: block;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #cecece;
}
.aim ul li,.select-level-items ul li
{
  display: inline-block;
  float: left;
  width: 100%;
  height: 50px;
  padding: 15px 12px;
  border: 1px solid #cecece;
  font-size: 16px;
  margin: 0;
}

.aim ul li.active,.select-level-items ul li.active
{
  border: 1px solid #1CB0F6;
  color: #1CB0F6;
  background: #d1effd;
}
.aim ul li:first-child,.select-level-items ul li:first-child
{
  border-radius: 8px 8px 0 0;
}
.aim ul li:last-child,.select-level-items ul li:last-child
{
  border-radius: 0 0 8px 8px;
}
.aim ul li h4,.aim ul li h5,.aim ul li h6,.select-level-items ul li h4,.select-level-items ul li h5,.select-level-items ul li h6
{
  display: inline;
  float: left;
  text-align: left;
  margin: 0;
  /*font-family: ubuntu-r;*/
  font-weight: 700;
}
.aim ul li span,.select-level-items ul li span
{
  display: inline;
  float: right;
  text-align: right;
  margin: 0;
  font-weight: 200;
}

.account .info-head,.account .info-body
{
  
  letter-spacing: 1px;
  
}
.account .info-body
{
  /*font-family: ubuntu-r;*/
  font-weight: 400;
}
.account .form-button
{
  text-transform: capitalize;
}

.photo-panel
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #edf9fe;

  display: none;
  z-index: 4;

}

.photos
{
  position: fixed;
  top: 50px;
  left: 0; 
  width: 100%;
  height: calc(100vh - 130px);
  overflow: auto;
}
.photo-items
{
  display: inline-block;
  float: left;
  width: calc(100%/3 - 10px);
  max-width: 120px;
  height: 140px; 
  margin: 5px;
  border-radius: 3px;
  
  background: #2D2A2A;

}
.photo-items.active
{
  border: 6px solid #FF552A;
}
.photo-items img
{
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;  
  padding: 10px;
}
.bottom-button-fixed
{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 80px;
  background: #edf9fe;
  padding: 16px;
}
.float-right
{
  float: right !important;
}

.reset-lesson
{
  display: none;
}

::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A8D0E2; 
}

@media(min-width: 380px)
{
    .main-header ul li,.footer ul li
    {      
      padding: 8px 3.5%;      
    } 

}

@media(min-width: 420px)
{
    .bar
    {
      width: 420px;
      
    }

}

@media(min-width: 540px)
{
    .bar
    {
      left: 0;
      
    }

}
.full
{
  height: 100vh;
}

@media(min-width: 1050px)
{

    body
    {
      width: 720px;    
      margin-left: calc(50% - 360px);
      border-left: 1px solid #cecece;
      border-right: 1px solid #cecece;
      overflow: auto;

    }

    .main-header,.footer,.lesson-info-x,.lesson-header,.photo-panel,.bottom-button-fixed,.bar,.day-aim,.select-level,.get-start,.account,.registration,.darkness
    {
      width: 720px;
      left: calc(50% - 360px);
      border-left: 1px solid #cecece;
      border-right: 1px solid #cecece;
    }

    .learning-card
    {
      width: 680px;
      left: calc(50% - 340px);
    }

    .account
    {
      margin-top: 0 !important;
    }

    .navbar
    {
      
      left: calc(50% - 360px);
    }

    .main-header ul li,.footer ul li
    {      
      padding: 8px 5px;      
    } 
   
    .photo-items
    {
      width: calc(100%/5 - 10px);
      max-width: 150px;
    }

}